@page
@model ForgotPasswordModel

<a class="btn btn-primary" asp-page="./Login" role="button"><i class="fa fa-arrow-left"></i></a>
<br />
<br />
<div class="text-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">Forgot Password?</h2>
    <p>You can reset your password here.</p>
</div>
<form method="post">
    <div class="form-label-group">
        <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email address" autofocus>
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Reset Password</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
