@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out.</p>
    <a asp-page="./Login">Click here to go back to login page.</a>
</header>